# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.env
secrets/
